{% extends 'base.html.twig' %}

{% block title %}Reponse{% endblock %}
{# {% block PageWrapper %} #}
{% block body %}
    <h1>Reponse</h1>

    <table style="background-color: #FEFCF3; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-collapse: collapse; width: 100%; ">

        <style>
            /* Espacement entre les lignes */
            tr td {
                padding: 10px;
            }
        </style>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ reponse.reponse }}</td>
            </tr>
            <tr>
                <th>Date_reponse</th>
                <td>{{ reponse.dateReponse ? reponse.dateReponse|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>


    <div style="display: flex;  justify-content:center;">
        <button class="styled-button"><a href="{{ path('app_reclamation_index') }}" style="color: white; text-decoration: none;">retour à la liste des réclamations</a></button>
    </div>
    

<style>
.styled-button {
    background-color: #BEE5B4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.styled-button:hover {
    background-color: #A5D6A7; /* Changez la couleur au survol */
}
.styled-button a {
    color: inherit; /* Assure que la couleur du lien reste blanche */
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
}
</style>


    
{% endblock %}
{# {% endblock %} #}
