{% extends 'base.html.twig' %}

{% block title %}Nouveau Reclamation{% endblock %}

{% block body %}
    <h1>Ajouter votre Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    
   
    <button class="styled-button"><a href="{{ path('app_reclamation_index') }}" style="color: white; text-decoration: none;">retour à la liste des réclamations</a></button>

<style>
.styled-button {
    background-color: #BEE5B4;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.styled-button:hover {
    background-color: #A5D6A7; /* Changez la couleur au survol */
}

.styled-button a {
    color: inherit; /* Assure que la couleur du lien reste blanche */
    text-decoration: none; /* Supprime le soulignement par défaut du lien */
}
</style>


{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
   
{% endblock %}
