{% extends 'base.html.twig' %}

{% block title %}Modifier l'évènement{% endblock %}

{% block body %}
    <h1>Modifier l'évènement</h1>
    <div class="button-group">
    {{ include('evenement/formevent.html.twig', {'button_label': 'Update'}) }}
    {{ include('evenement/delete.html.twig') }}
    </div>

    <a href="{{ path('list_event') }}">back to list</a>

    
{% endblock %}