{% extends 'base.html.twig' %}

{% block title %}Évènement {% endblock %}



{% block body %}

    <h1>liste des évenements</h1>
    <a href="{{ path('add_evenement') }}">
        <i class="bi bi-plus-circle" style="font-size: 30px;"></i> Ajouter un nouvel évènement
    </a>
    {# float: right;#}
  <section id="gallery" class="gallery">
    <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
            {% for e in events %}
            <div class="col-xl-3 col-lg-4 col-md-6">
                <a style='color:white' href="{{ path('event_details', {'id': e.id}) }}">
                    <div class="gallery-item h-100"> 
                        <img src="{{ asset('uploads/images/' ~ e.image) }}" class="img-fluid" alt="Paysage">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <div> {{e.getNom }} </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% if events|length == 0 %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Pas d'évènements</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

    
   
   
{% endblock %}