{% extends 'base.html.twig' %}

{% block title %}New Collaboration{% endblock %}

{% block body %}
    <h1>Collaborer!! </h1>
    <h2> Faire une communité</h2>

    {{ include('collaboration/_form.html.twig') }}

    {% endblock %}
