<form method="post" action="{{ path('app_commentaire_deleteA', {'id': commentaire.id}) }}" onsubmit="return confirm('Êtes-vous sûr?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
