{% extends 'baseBack.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ commentaire.text }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ commentaire.dateCreation ? commentaire.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('commentaire/deletA.html.twig') }}
{% endblock %}
