<div class="container mt-5">
    
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'mb-4'}}) }}
        
        {{ form_widget(form, {'attr': {'class': 'form-control mb-3'}}) }}

        <button type="submit" class="btn custom-btn-primary">{{ button_label|default('Enregistrer') }}</button>

        {{ form_end(form) }}
   
</div>
<style>
.custom-btn-primary {
        background-color: #eba081;
        color: #ffffff;
        border-color: #eba081;
    }
.custom-btn-primary:hover {
        background-color: #eb7a4b;
        color: #ffffff;
        border-color: #eb7a4b;
    }

</style>