{% extends 'base.html.twig' %}

{% block title %}Modifier Feedback{% endblock %}

{% block body %}
    <h1>Modifier feedback</h1>

    {{ include('feedback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_feedback') }}">retour</a>

    {{ include('feedback/_delete_form.html.twig') }}
{% endblock %}