{% extends 'base.html.twig' %}

{% block title %}Nouveau feedback{% endblock %}

{% block body %}
    <h1>Ajouter un feedback</h1>

    {{ include('feedback/_form.html.twig') }}

    <a href="{{ path('event_details', {'id': feedback.getIdEvenement().id}) }}">Retour</a>
{% endblock %}